.organicchemistry-midterm-materials-p-content {
	margin-top: 0.5em;
}

#tips-tricks > .row {
	margin-top: 0.5em;
}

.row > h4 {
	color: #fff
}

.shrink {
	margin-left: 25%;
	margin-right: 25%;

}
/*
.left-justified {
	text-align: left;
}
*/